/*
===================================
Primary header
===================================
*/

/*

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}

/*
  ========================================
  Main Content/Body
  ========================================
*/

.body img {
  margin-bottom: 22px;
  max-width: 20%;
}

/*
===================================
Primary footer
===================================
*/

.footer {
  background: #293f50;
}

.footer p {
  color: #648880;
}
