/*
=============================================
Custom styles
=============================================
*/
body {
  background: #ffffff;
  color: #000000;
  font: 300 16px/22px "Lato","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  font-weight: bold;
}

/*
===================================
Primary header
===================================
*/
.header {
  background: #B22209;
}

.header h1 {
  display: inline-block;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 14px;
  padding-top: 14px;
  padding-left: 24px;
}
.header a {
  float: right;
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 14px;
  padding-top: 14px;
  padding-right: 24px;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
  background: #242426;
  font-size: 14px;
  padding-bottom: 6px;
  padding-top: 6px;
  font-weight: 400;
}
.nav li {
  display: inline-block;
  color: #ffffff;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
  padding-right: 24px;
}

/*
  ========================================
  Main Content/Body
  ========================================
*/

.body img {
  margin-bottom: 22px;
  max-width: 20%;
}

/*
  ========================================
  Teasers
  ========================================
*/

.teasers img {
  margin-top: 7px;
  margin-bottom: 40px;
  max-width: 20%;
}

/*
===================================
Primary footer
===================================
*/

.footer {
  background: #3B3B40;
}
.footer p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
